#welcome{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    z-index:9999;
}

#welcome .inside{
    text-align: center;
    position: absolute;
    width:50%;
    height: 300px;
    left: 29%;
    top: 29%;
    background-color: #fff;
}

#welcome h1{
    padding-top: 20px;
    margin-top: 20px;
    font-size: 3.7em;
}

#welcome .col-md-3{
    height: 500px;
}

.page-footer{
    color: #ffffff;
}
